<% provide(:title, 'Champions') %>
                    <h1>Champions</h1>
                    <p>The Basket Ball Jones NCAA Pick-off is host to some of the best competition in the world. It is recognized by its players as the best of the best, the cream of the crop. It is the annual sport of the sport that stands above others on a level all by itself. Winners of the BBJ NCAA Pick-off are some of the greatest to ever play. BBJ champions will always be remembered for their superior skill and wisdom.</p>
                    <p>Below is a ledger of past winners. Only money spots are shown. Notice in 1983 that some idiot didn't put his name on the winning entry. Of course, 43 guys claimed it was theirs AFTER it won. In the interest of fairness, the first place purse went to second place. Boy did that P.O. a few players! These are the actual names of the entries.</p>
                    <table class="champions">
                        <thead align="center">
                            <tr>
                                <th scope="col" width="35">Year</th>
                                <th scope="col" width="120">BBJ Champion</th>
                                <th scope="col" width="130">2nd Place</th>
                                <th scope="col" width="120">3rd Place</th>
                                <th scope="col" width="100">NCAA Champions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td><strong>2012</strong></td>
                              <td>indydice9 (R)</td>
                              <td>Cheater</td>
                              <td>Joyknowsbest</td>
                              <td><strong>Kentucky</strong></td>
                            </tr>        
                            <tr>
                              <td><strong>2011</strong></td>
                              <td>Mom</td>
                              <td>Silly Girl</td>
                              <td>justaguess</td>
                              <td><strong>Connecticut</strong></td>
                            </tr>                            
                            <tr>
                              <td><strong>2010</strong></td>
                              <td>Scruff</td>
                              <td>Haventaclue</td>
                              <td>Daftpick</td>
                              <td><strong>Duke</strong></td>
                            </tr>
                            <tr>
                              <td><strong>2009</strong></td>
                              <td>A.J. Moir</td>
                              <td>HOOSIER wHOOPS!</td>
                              <td>Joey Wesling</td>
                              <td><strong>North Carolina</strong></td>
                            </tr>
                            <tr>
                              <td><strong>2008</strong></td>
                              <td>B. Monday</td>
                              <td>Stu</td>
                              <td>T. Vetang</td>
                              <td><strong>Kansas</strong></td>
                            </tr>
                            <tr>
                              <td><strong>2007</strong></td>
                              <td>E. Johnson (R)</td>
                              <td>NCAA Committee</td>
                              <td>S. Combest (R)</td>
                              <td><strong>Florida</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2006</strong></td>
                              <td>G. Smith (R)</td>
                              <td>A. Lavender (R)</td>
                              <td>D. Kaufman (R)</td>
                              <td><strong>Florida</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2005</strong></td>
                              <td>hogie (R)</td>
                              <td>Harbo</td>
                              <td>J. Burbrink</td>
                              <td><strong>North Carolina</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2004</strong></td>
                              <td>BBJ Jr. (R)</td>
                              <td>A.J. Moir</td>
                              <td>T. Hebenstreit (R)</td>
                              <td><strong>Connecticut</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2003</strong></td>
                              <td>B. German</td>
                              <td>E. Claymore</td>
                              <td>C. Smith</td>
                              <td><strong>Syracuse</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2002</strong></td>
                              <td>A. Fischer</td>
                              <td>Greg</td>
                              <td>N. Baker</td>
                              <td><strong>Maryland</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2001</strong></td>
                              <td>BBJ</td>
                              <td>Helter Skelter</td>
                              <td>K. Jacobs</td>
                              <td><strong>Duke</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>2000</strong></td>
                              <td>A.J. Moir</td>
                              <td>BBJ</td>
                              <td>K. Nelson</td>
                              <td><strong>Michigan State </strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1999</strong></td>
                              <td>A.J. Moir</td>
                              <td>BBJ</td>
                              <td>(unnamed)**</td>
                              <td><strong>Connecticut</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1998</strong></td>
                              <td>R. Keller</td>
                              <td>A.J. Moir</td>
                              <td>Rocket</td>
                              <td><strong>Kentucky</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1997</strong></td>
                              <td>R. Keller (R)</td>
                              <td>Bimbo</td>
                              <td>S. Moir</td>
                              <td><strong>Arizona</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1996</strong></td>
                              <td>Westwood W.</td>
                              <td>Sweet</td>
                              <td>A.J. Moir</td>
                              <td><strong>Kentucky</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1995</strong></td>
                              <td>Sweet Pea</td>
                              <td>Who Knows</td>
                              <td>&nbsp;</td>
                              <td><strong>UCLA</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1994</strong></td>
                              <td>Billy</td>
                              <td>RMK</td>
                              <td>&nbsp; </td>
                              <td><strong>Arkansas</strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1993</strong></td>
                              <td>The King</td>
                              <td>BBJ</td>
                              <td>&nbsp; </td>
                              <td><strong>North Carolina </strong></td>
                            </tr>
                            <tr align="center">
                              <td><strong>1992</strong></td>
                              <td>ACC Blows</td>
                              <td>Up Yours</td>
                              <td>&nbsp; </td>
                              <td><strong>Duke</strong></td>
                            </tr><tr align="center">
                              <td><strong>1991</strong></td>
                              <td>N. Goody </td>
                              <td>BBJ</td>
                              <td>&nbsp; </td>
                              <td><strong>Duke</strong></td>
                            </tr><tr align="center">
                              <td><strong>1990</strong></td>
                              <td>BBJ</td>
                              <td>L. Brown </td>
                              <td>&nbsp; </td>
                              <td><strong>UNLV</strong></td>
                            </tr><tr align="center">
                              <td><strong>1989</strong></td>
                              <td>Joe Day </td>
                              <td>THE MONKEY </td>
                              <td>&nbsp; </td>
                              <td><strong>Michigan</strong></td>
                            </tr><tr align="center">
                              <td><strong>1988</strong></td>
                              <td>ACC Blows </td>
                              <td>&nbsp;</td>
                              <td>&nbsp; </td>
                              <td><strong>Kansas</strong></td>
                            </tr><tr align="center">
                              <td><strong>1987</strong></td>
                              <td>K. d. Moir </td>
                              <td>&nbsp;</td>
                              <td>&nbsp; </td>
                              <td><strong>Indiana</strong></td>
                            </tr><tr align="center">
                              <td><strong>1986</strong></td>
                              <td>Wilson</td>
                              <td>BBJ</td>
                              <td>&nbsp; </td>
                              <td><strong>Louisville</strong></td>
                            </tr><tr align="center">
                              <td><strong>1985</strong></td>
                              <td>B.B. Balls </td>
                              <td>&nbsp;</td>
                              <td>&nbsp; </td>
                              <td><strong>Villanova</strong></td>
                            </tr><tr align="center">
                              <td><strong>1984</strong></td>
                              <td>S. Zare </td>
                              <td>K. Jacobs </td>
                              <td>&nbsp;</td>
                              <td><strong>Georgetown</strong></td>
                            </tr><tr align="center">
                              <td><strong>1983</strong></td>
                              <td>(unnamed)*</td>
                              <td>BBJ</td>
                              <td>&nbsp; </td>
                              <td><strong>NC State </strong></td>
                            </tr><tr align="center">
                              <td><strong>1982</strong></td>
                              <td>The Blue </td>
                              <td>ACC Blows </td>
                              <td>&nbsp;</td>
                              <td><strong>North Carolina </strong></td>
                            </tr><tr align="center">
                              <td><strong>1981</strong></td>
                              <td>K. d. Moir </td>
                              <td>Big O </td>
                              <td>&nbsp; </td>
                              <td><strong>Indiana</strong></td>
                            </tr><tr align="center">
                              <td><strong>1980</strong></td>
                              <td>J. Warren </td>
                              <td>T. Vetang </td>
                              <td>O. Allen  </td>
                              <td><strong>Louisville</strong></td>
                            </tr><tr align="center">
                              <td><strong>1979</strong></td>
                              <td>Twiggy</td>
                              <td>THE MONKEY </td>
                              <td>K. Baker  </td>
                              <td><strong>Michigan State </strong></td>
                            </tr><tr align="center">
                              <td><strong>1978</strong></td>
                              <td>BBJ</td>
                              <td>F. Fuji </td>
                              <td>&nbsp; </td>
                              <td><strong>Kentucky</strong></td>
                            </tr><tr align="center">
                              <td><strong>1977</strong></td>
                              <td>Vine</td>
                              <td>L. Brewer </td>
                              <td>&nbsp; </td>
                              <td><strong>Marquette</strong></td>
                            </tr><tr align="center">
                              <td><strong>1976</strong></td>
                              <td>K. d. Moir </td>
                              <td>BBJ</td>
                              <td>&nbsp; </td>
                              <td><strong>Indiana</strong></td>
                            </tr><tr align="center">
                              <td><strong>1975</strong></td>
                              <td>Randall</td>
                              <td>Lincoln</td>
                              <td>&nbsp; </td>
                              <td><strong>UCLA</strong></td>
                            </tr><tr align="center">
                              <td><strong>1974</strong></td>
                              <td>BBJ</td>
                              <td>Joe B. </td>
                              <td>&nbsp; </td>
                              <td><strong>NC State </strong></td>
                            </tr><tr align="center">
                              <td><strong>1973</strong></td>
                              <td>Barker</td>
                              <td>Huffman</td>
                              <td>&nbsp; </td>
                              <td><strong>UCLA</strong></td>
                            </tr><tr align="center">
                              <td><strong>1972</strong></td>
                              <td>BBJ</td>
                              <td>Joe B. </td>
                              <td>&nbsp; </td>
                              <td><strong>UCLA</strong></td>
                            </tr><tr align="center">
                              <td><strong>1971</strong></td>
                              <td>Ragsdale (R) </td>
                              <td>Hale</td>
                              <td>&nbsp; </td>
                              <td><strong>UCLA</strong></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>(R) denotes a rookie champion<br />
                    * Runner-up received 1st prize but was not declared champion<br />
                    **Fourth place player received 3rd prize</p>
                    <p><strong>NOTE</strong>: THE MONKEY and NCAA Committee are not paid players. In cases where they win a money spot, the payoff just goes around them.</p>
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>


