<% provide(:title, 'Hall of Fame') %>
                    <h1>Hall of Fame</h1>
                        <ul>
                            <li><a href="#bbj">Basket Ball Jones</a></li>
                            <li><a href="#kdmoir">K d. Moir</a></li>
                            <li><a href="#accblows">ACC Blows</a></li>
                            <li><a href="#ajmoir">A.J. Moir</a></li>
                        </ul>
                    <p>Here it is. This is the BBJ Hall of Fame. The following players have proven their infinite wisdom and superiority over the years in the BBJ, and they have earned themselves a place of their own in its history. They are gods among men and kings among the sport of the sport. These Hall of Fame players are the epitome of the game.</p>
                    <p class="bold">To be eligible for the BBJ Hall of Fame, a player must earn two wins and another top-three finish.</p>

                    <div id="bbj">
                        <h2 class="border">Basket Ball Jones (1976)</h2>
                        <h3>5 wins</h3>
                        <p>(1972, 1974, 1978, 1990, 2001)</p>
                        <h3>38 years played</h3>
                        <p>(1971-2008)</p>
                        <p>The creator of the world-famous BBJ NCAA Pick-off earned the first induction into the Hall of Fame by proving his greatness and supremacy in the early years of the Pick-off. He earned his first win in the second annual Pick-off in 1972. He was victorious two years later in 1974. He sealed his spot early in the Hall of Fame with a runner-up finish in 1976, the sixth Pick-off. He played every single year available in his lifetime, and was a dominant player until the end. His achievements include 5 wins and 7 runner-up finishes, a feat that will stay around for a very long time if not forever. His last appearance in the top 3 was with a win in 2001. Basket Ball Jones is the greatest of all time.</p>
                        <p>Nobody really knows exactly who Basket Ball Jones was. BBJ is, of course, an alias, and his true identity is known only to a select few players whom help him adminsitrate the pick-off. One thing is for sure though, and that was his great annual performance. You could always look for him near the top of the leaderboard. In 2005, he passed down duties as Gamesmaster for the Pick-off to his heir, Basket Ball Jones Jr. Only time will tell if his capable heir will follow in the big footsteps of the King of Kings, Basket Ball Jones.</p>
                    </div><!-- end #bbj -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

                    <div id="kdmoir">
                        <h2 class="border">K d. Moir (1987)</h2>
                        <h3>3 wins</h3>
                        <p>(1976, 1981, 1987)</p>
                        <h3>38 years played</h3>
                        <p>(1971-2008)</p>
                        <p>The only other player to participate every year besides the creator and infamous Basket Ball Jones was K. d. Moir. He was a constant in the BBJ. K. d. Moir passed away in January 2009, but memories of him will last forever. His impact on the BBJ Pick-off itself and the core players is beyond substantial. He was notorious for his annual support of the Indiana Hoosiers in the Pick-off, and he displayed his fanaticalness by picking his Hoosiers to win it all every single year. He also tended to favor Big Ten teams through the tournament. Because his beloved Hoosiers won the NCAA championship in 1976, 1981, and 1987, his entries did very well. In fact, those are the three years he won the BBJ Pick-off. His entries were no joke, however, because his team was also favored by others in those years and especially so in 1976. Some called Kdmoir a clown, but no clown can win the BBJ three times.</p>
                        <p>K. d. Moir was known also for his not-so-quiet and not-unpopular opinion of Myles Brand & Mike "Lame" Davis and his appreciation of Coach Knight. When Mike Davis failed to lead IU to the NCAA tournament in 2004 and 2005, Kdmoir swiched his allegiance to Coach Knight's new team, Texas Tech, which was in the tournament.</p>
                        <p>K. d. Moir had an invaluable role in the BBJ Pick-off as a recruiter, and his contributions have been vital to the growth of the BBJ NCAA Pick-off.</p>
                    </div><!-- end #kdmoir -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <div id="accblows">
                        <h2 class="border">ACC Blows (1992)</h2>
                        <h3>2 wins</h3>
                        <p>(1988, 1992)</p>
                        <h3>?? years played</h3>
                        <p>(varied from early '80s to mid '90s)</p>
                        <p>ACC Blows is one of the most creative names among the players in the BBJ. This player is a mystery because nobody knows his true identity. The last appearance of ACC Blows is unknown, but the alias has not been used for many years. It is estimated that it was abandoned in the Pick-off in the mid-90s, a few years after the last win. However, it is suspected that the player has used other names in the BBJ. ACC Blows fulfilled his first requirement for Hall of Fame induction in 1982, early in his BBJ career, with a runner-up finish. He achieved his two wins in 1988 and 1992. His participation in the Pick-off has not been consistent, but the name will live forever as one of the very few players to achieve admired greatness and induction into the BBJ Hall of Fame.</p>
                    </div><!-- end #accblows -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <div id="ajmoir">
                        <h2 class="border">A.J. Moir (2000)</h2>
                        <h3>3 wins</h3>
                        <p>(1999, 2000, 2009)</p>
                        <h3>14 years played</h3>
                        <p>(1996-2000, 2004-present)</p>
                        <p>A.J. Moir is the youngest player ever to win the BBJ NCAA Pick-off and the youngest to be inducted into the BBJ Hall of Fame. He began playing in 1996 at age 8 and earned a third-place finish. He continued from there and was runner-up in 1998. He won his first BBJ Pick-off in 1999, his fourth attempt. He followed up that win with another in 2000 to become eligible for the Hall of Fame at the young age of 12. It is said that he unfortunately abandoned the Pick-off from from 2001-2003 because of IU's coaching situation, however, he did return in 2004 and was runner-up to the sure-to-be future Hall of Fame player, Basket Ball Jones Jr. In 2005, he was one point shy of third place. He placed in 5 of his first 6 attempts, a feat that is doubtful to be doubled. This player has definitely proven his greatness early in his BBJ career, and he poses a major threat to all players every year.</p>
                        <p>His most recent achievement is a third win in 2009. Regardless of where he places, he is a valuable part of the BBJ through his recruiting.</p>
                    </div><!-- end #ajmoir -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

