<% provide(:title, 'History') %>
                    <h1>History</h1>
                    <div class="fourcol">
                        <ul>
                            <li><a href="#briefhistory">Brief History</a></li>
                            <li><a href="#y2012">2012</a></li>
                            <li><a href="#y2011">2011</a></li>
                            <li><a href="#y2010">2010</a></li>
                            <li><a href="#y2009">2009</a></li>
                            <li><a href="#y2008">2008</a></li>
                            <li><a href="#y2007">2007</a></li>
                            <li><a href="#y2006">2006</a></li>
                            <li><a href="#y2005">2005</a></li>
                            <li><a href="#y2004">2004</a></li>
                            
                        </ul>
                    </div><!-- end .fourcol -->
                    <div class="fourcol">
                        <ul>
                            <li><a href="#y2003">2003</a></li>
                            <li><a href="#y2002">2002</a></li>
                            <li><a href="#y2001">2001</a></li>
                       	    <li><a href="#y2000">2000</a></li>
                            <li><a href="#y1999">1999</a></li>
                            <li><a href="#y1998">1998</a></li>
                            <li><a href="#y1997">1997</a></li>
                            <li><a href="#y1996">1996</a></li>
                            <li><a href="#y1995">1995</a></li>
                            <li><a href="#y1994">1994</a></li>
                            <li><a href="#y1993">1993</a></li>
                        </ul>
                    </div><!-- end .fourcol -->
                    <div class="fourcol">
                        <ul>
                            <li><a href="#y1992">1992</a></li>
                            <li><a href="#y1991">1991</a></li>
                        	<li><a href="#y1990">1990</a></li>
                            <li><a href="#y1989">1989</a></li>
                            <li><a href="#y1988">1988</a></li>
                            <li><a href="#y1987">1987</a></li>
                            <li><a href="#y1986">1986</a></li>
                            <li><a href="#y1985">1985</a></li>
                            <li><a href="#y1984">1984</a></li>
                            <li><a href="#y1983">1983</a></li>
                            <li><a href="#y1982">1982</a></li>
                        </ul>
                    </div><!-- end .fourcol -->
                    <div class="fourcol">
                        <ul>
                            <li><a href="#y1981">1981</a></li>
                            <li><a href="#y1980">1980</a></li>
                            <li><a href="#y1979">1979</a></li>
                            <li><a href="#y1978">1978</a></li>
                            <li><a href="#y1977">1977</a></li>
                            <li><a href="#y1976">1976</a></li>
                            <li><a href="#y1975">1975</a></li>
                            <li><a href="#y1974">1974</a></li>
                            <li><a href="#y1973">1973</a></li>
                            <li><a href="#y1972">1972</a></li>
                            <li><a href="#y1971">1971</a></li>
                        </ul>
                    </div><!-- end .fourcol -->
                    <h2 id="briefhistory" class="border">Brief History</h2>
                    <div>
                    	<p class="em">The following is a brief written history of the BBJ NCAA Pick-off written by Basket Ball Jones in March 2005. Some parts have been edited since then to maintain accuracy.</p>
                    	<p>Greetings fellow prognosticators! After decades of flawlessly championing the world-famous Basket Ball Jones NCAA Pick-off, I, the illustrious Basket Ball Jones, have relinquished my throne to my capable heir, Basket Ball Jones Jr. He has been administrator since the 2005 Pick-off. As I was born on a year that the Hoosiers won it all, so graced at birth is your new Gamesmaster, BBJJ as well. Truly an omen of greatness! I have stepped aside and passed the crown, but first a little history for those who are new to our annual sport on the sport.</p>
                        <p>Ah, yes. NCAA hoops! It is my favorite season offered by nature with a finale greater than the 4th of July fireworks show. THE NCAA TOURNEY!! It all started in 1970-71. The Hoosiers sucked because McCracken was gone and a loser named Watson was coaching. Then came the new guy named Knight from Army. Things were looking up for the Hoosiers and college ball was getting bigger every day. It was my senior year in high school and I had just been busted by the principal for making book on the high school tourney (the good ol' one class system), and I needed a new gig. So the NCAA was a natural. I also had to run under an alias (because of the bookie thing), and I had a Jones for hoops. That too was a natural. So began the annual Basket Ball Jones NCAA Pick-off.</p>
                        <p>Just as things have changed in college hoops (3-pointer, shot clock, field expanding from 32 teams to 64 and later 65), the BBJ has evolved a bit too. Through the years, the scoring system has changed and so has the payoff for different finishes. It has been winner-take-all sometimes and win, place, and show to slice the cheese other times. Some things have always been the same from the beginning though. First, players can enter as many times as they like. Second, all entries are due before the first tip-off. In the early days, all entries were done by hand and turned in or taken over the phone. Later came fax machines, then e-mail. Nowadays we even have a website. There have always been a couple entries for shits and grins too. My favorite entry is the NCAA selection committee. These picks are made by always choosing the higher seed to win and choosing the higher #1 seed team in the Final Four. It is interesting to note that the morons of the NCAA committee never finished in the top half of the BBJ standings until 2006. Yup... morons. You know you suck if you can't beat the NCAA committee. The other S&G entry is The Monkey. This entry is made by flipping a coin to choose the winner of each game all the way through the brackets. The Monkey finished last twice (2005 and 2009) and has finished second twice (1979, 1989), but 3rd got 2nd's portion and 4th got 3rd's portion. There are two other constants in the BBJ NCAA Pick-off. First is the narrative by yours truly in the updates. They can be brutal. They are typically enjoyed by all but the butt of the yucks. The last constant is a guy named K. Moir. This guy plays every year and every year picks the Hoosiers to win it all... EVERY YEAR! Oh well, it's OK by me. We will share his money.</p>
                        <p>Entrants generally pre-pay so it is just a matter of getting the picks in when the pairings come out. The administrator generally takes a small piece of the pie for managing expenses. I want to emphasize that NOBODY plays for free. Rules are always posted before the pairings are released.</p>
                        <p>Some stats:
                        	<ul>
                            	<li>Most wins: BBJ with 5. I know what you are thinking, but someone has always held my entry. And nowadays, everyone's entry can be seen online before the tournament begins. SO KISS MY whatever! I am just that good. I also hold the record for most second place finishes with 7. I have never finished third though.</li>
                                <li>Most BBJ entries: 158 in 1995. People from 21 states and 4 countries entered.</li>
                                <li>Most entries by one guy: Not sure. Some clowns play under different names.</li>
                                <li>There is another page that shows past winners and another one for the BBJ Hall of Fame.</li>
                                <li>Pick wisely, players. The competition here is Top Notch!</li>
                            </ul>
                        </p>
                        <p>Yours truly,<br />
                        Basket Ball Jones</p>
                    </div><!-- end #briefhistory -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

                    <h2 id="y2012" class="border">2012</h2>
                    <div class="y2012">
                        <img src="assets/uk2012.gif" alt="Kentucky Wildcats" class="champs" align="right" width="150" height="101" />
                        <h3>BBJ Champion</h3>
                        <p>indydice9</p>
                        <h3>NCAA Championship</h3>
                        <p>Kentucky Wildcats def. Kansas Jayhawks</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2012standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2012tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2012tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2012playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2012 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

                    <h2 id="y2011" class="border">2011</h2>
                    <div class="y2011">
                        <img src="assets/uconn.gif" alt="Connecticut Huskies" class="champs" align="right" width="150" height="120" />
                        <h3>BBJ Champion</h3>
                        <p>Mom</p>
                        <h3>NCAA Championship</h3>
                        <p>Connecticut Huskies def. Butler Bulldogs</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2011standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2011tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2011tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2011playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2011 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

                    <h2 id="y2010" class="border">2010</h2>
                    <div class="y2010">
                        <img src="assets/duke.gif" alt="Duke Blue Devils" class="champs" align="right" width="150" height="120" />
                        <h3>BBJ Champion</h3>
                        <p>Scruff</p>
                        <h3>NCAA Championship</h3>
                        <p>Duke Blue Devils def. Butler Bulldogs</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2010standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2010tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2010tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2010playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2010 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2009" class="border">2009</h2>
                    <div class="y2009">
                        <img src="assets/unc.gif" alt="North Carolina Tar Heels" class="champs" align="right" width="150" height="120" />
                        <h3>BBJ Champion</h3>
                        <p>A.J. Moir</p>
                        <h3>NCAA Championship</h3>
                        <p>North Carolina Tar Heels def. Michigan State Spartans</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2009standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2009tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2009tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2009playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2009 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2008" class="border">2008</h2>
                    <div class="y2008">
                        <img src="assets/kansas.gif" alt="Kansas Jayhawks" class="champs" align="right" width="150" height="128" />
                        <h3>BBJ Champion</h3>
                        <p>Bill Monday</p>
                        <h3>NCAA Championship</h3>
                        <p>Kansas Jayhawks def. Memphis Tigers</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2008standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2008tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2008tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2008playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2008 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2007" class="border">2007</h2>
                    <div class="y2007">
                        <img src="assets/florida.gif" alt="Florida Gators" class="champs" align="right" width="150" height="94" />
                        <h3>BBJ Champion</h3>
                        <p>Eric Johnson</p>
                        <h3>NCAA Championship</h3>
                        <p>Florida Gators def. Ohio State Buckeyes</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2007standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2007tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2007tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2007playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2007 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2006" class="border">2006</h2>
                    <div class="y2006">
                        <img src="assets/florida.gif" alt="Florida Gators" class="champs" align="right" width="150" height="94" />
                        <h3>BBJ Champion</h3>
                        <p>Garrett Smith</p>
                        <h3>NCAA Championship</h3>
                        <p>Florida Gators def. UCLA Bruins</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2006standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2006tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2006tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2006playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2006 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2005" class="border">2005</h2>
                    <div class="y2005">
                        <img src="assets/unc.gif" alt="North Carolina Tar Heels" class="champs" align="right" width="150" height="120" />
                        <h3>BBJ Champion</h3>
                        <p>hogie</p>
                        <h3>NCAA Championship</h3>
                        <p>North Carolina Tar Heels def. Illinois Fighting Illini</p>
                        <ul>
                        	<li><a href="http://bbjncaa.webs.com/history/2005standings.pdf">Final Pick-Off Standings</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2005tournamentresults.pdf">NCAA Tournament Results</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2005tournamentsummary.pdf">Tournament Summary</a></li>
                        	<li><a href="http://bbjncaa.webs.com/history/2005playersummary.pdf">Player Summary</a></li>
                        </ul>
                    </div><!-- end #y2005 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2004" class="border">2004</h2>
                    <div class="y2004">
                        <img src="assets/uconn.gif" alt="Connecticut Huskies" class="champs" align="right" width="150" height="161" />
                        <h3>BBJ Champion</h3>
                        <p>Basket Ball Jones Jr.</p>
                        <h3>NCAA Championship</h3>
                        <p>Connecticut Huskies def. Georgia Tech Yellow Jackets</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/2004?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y2004 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2003" class="border">2003</h2>
                    <div class="y2003">
                        <img src="assets/syracuse.gif" alt="Syracuse Orange" class="champs" align="right" width="125" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>B. German</p>
                        <h3>NCAA Championship</h3>
                        <p>Syracuse Orange def. Kansas Jayhawks</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/2003?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y2003 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2002" class="border">2002</h2>
                    <div class="y2002">
                        <img src="assets/maryland.gif" alt="Maryland Terrapins" class="champs" align="right" width="150" height="132" />
                        <h3>BBJ Champion</h3>
                        <p>A. Fischer</p>
                        <h3>NCAA Championship</h3>
                        <p>Maryland Terrapins def. Indiana Hoosiers</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/2002?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y2002 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2001" class="border">2001</h2>
                    <div class="y2001">
                        <img src="assets/duke.gif" alt="Duke Blue Devils" class="champs" align="right" width="150" height="128" />
                        <h3>BBJ Champion</h3>
                        <p>Basket Ball Jones</p>
                        <h3>NCAA Championship</h3>
                        <p>Duke Blue Devils def. Arizona Wildcats</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/2001?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y2001 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y2000" class="border">2000</h2>
                    <div class="y2000">
                        <img src="assets/msu_white.gif" alt="Michigan State Spartans" class="champs" align="right" width="94" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>A.J. Moir</p>
                        <h3>NCAA Championship</h3>
                        <p>Michigan State Spartans def. Florida Gators</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/2000?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y2000 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1999" class="border">1999</h2>
                    <div class="y1999">
                        <img src="assets/uconn.gif" alt="Connecticut Huskies" class="champs" align="right" width="150" height="161" />
                        <h3>BBJ Champion</h3>
                        <p>A.J. Moir</p>
                        <h3>NCAA Championship</h3>
                        <p>Connecticut Huskies def. Duke Blue Devils</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1999?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1999 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1998" class="border">1998</h2>
                    <div class="y1998">
                        <img src="assets/uk.gif" alt="Kentucky Wildcats" class="champs" align="right" width="150" height="149" />
                        <h3>BBJ Champion</h3>
                        <p>R. Keller</p>
                        <h3>NCAA Championship</h3>
                        <p>Kentucky Wildcats def. Utah Utes</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1998?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1998 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1997" class="border">1997</h2>
                    <div class="y1997">
                        <img src="assets/arizona.gif" alt="Arizona Wildcats" class="champs" align="right" width="150" height="145" />
                        <h3>BBJ Champion</h3>
                        <p>R. Keller</p>
                        <h3>NCAA Championship</h3>
                        <p>Arizona Wildcats def. Kentucky Wildcats</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1997?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1997 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1996" class="border">1996</h2>
                    <div class="y1996">
                        <img src="assets/uk.gif" alt="Kentucky Wildcats" class="champs" align="right" width="150" height="149" />
                        <h3>BBJ Champion</h3>
                        <p>Westwood W.</p>
                        <h3>NCAA Championship</h3>
                        <p>Kentucky Wildcats def. Syracuse Orange</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1996?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1996 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1995" class="border">1995</h2>
                    <div class="y1995">
                        <img src="assets/ucla.gif" alt="UCLA Bruins" class="champs" align="right" width="150" height="116" />
                        <h3>BBJ Champion</h3>
                        <p>Sweet Pea</p>
                        <h3>NCAA Championship</h3>
                        <p>UCLA Bruins def. Arkansas Razorbacks</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1995?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1995 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1994" class="border">1994</h2>
                    <div class="y1994">
                        <img src="assets/arkansas.gif" alt="Arkansas Razorbacks" class="champs" align="right" width="150" height="103" />
                        <h3>BBJ Champion</h3>
                        <p>Billy</p>
                        <h3>NCAA Championship</h3>
                        <p>Arkansas Razorbacks def. Duke Blue Devils</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1994?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1994 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1993" class="border">1993</h2>
                    <div class="y1993">
                        <img src="assets/unc93.gif" alt="North Carolina Tar Heels" class="champs" align="right" width="150" height="127" />
                        <h3>BBJ Champion</h3>
                        <p>The King</p>
                        <h3>NCAA Championship</h3>
                        <p>North Carolina Tar Heels def. Michigan Wolverines</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/`993?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1993 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1992" class="border">1992</h2>
                    <div class="y1992">
                        <img src="assets/duke.gif" alt="Duke Blue Devils" class="champs" align="right" width="150" height="128" />
                        <h3>BBJ Champion</h3>
                        <p>ACC Blows</p>
                        <h3>NCAA Championship</h3>
                        <p>Duke Blue Devils def. Michigan Wolverines</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1992?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1992 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1991" class="border">1991</h2>
                    <div class="y1991">
                        <img src="assets/duke.gif" alt="Duke Blue Devils" class="champs" align="right" width="150" height="128" />
                        <h3>BBJ Champion</h3>
                        <p>N. Goody</p>
                        <h3>NCAA Championship</h3>
                        <p>Duke Blue Devils def. Kansas Jayhawks</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1991?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1991 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1990" class="border">1990</h2>
                    <div class="y1990">
                        <img src="assets/unlv.gif" alt="UNLV Runnin' Rebels" class="champs" align="right" width="150" height="154" />
                        <h3>BBJ Champion</h3>
                        <p>Basket Ball Jones</p>
                        <h3>NCAA Championship</h3>
                        <p>UNLV Runnin' Rebels def. Duke Blue Devils</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1990?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1990 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1989" class="border">1989</h2>
                    <div class="y1989">
                        <img src="assets/michigan.gif" alt="Michigan Wolverines" class="champs" align="right" width="150" height="94" />
                        <h3>BBJ Champion</h3>
                        <p>Joe Day</p>
                        <h3>NCAA Championship</h3>
                        <p>Michigan Wolverines def. Seton Hall Pirates</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1989?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1989 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1988" class="border">1988</h2>
                    <div class="y1988">
                        <img src="assets/kansas88.gif" alt="Kansas Jayhawks" class="champs" align="right" width="150" height="129" />
                        <h3>BBJ Champion</h3>
                        <p>ACC Blows</p>
                        <h3>NCAA Championship</h3>
                        <p>Kansas Jayhawks def. Oklahoma Sooners</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1988?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1988 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1987" class="border">1987</h2>
                    <div class="y1987">
                        <img src="assets/iu.gif" alt="Indiana Hoosiers" class="champs" align="right" width="120" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>K d. Moir</p>
                        <h3>NCAA Championship</h3>
                        <p>Indiana Hoosiers def. Syracuse Orange</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1987?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1987 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1986" class="border">1986</h2>
                    <div class="y1986">
                        <img src="assets/louisville.gif" alt="Louisville Cardinals" class="champs" align="right" width="143" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>Wilson</p>
                        <h3>NCAA Championship</h3>
                        <p>Louisville Cardinals def. Duke Blue Devils</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1986?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1986 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1985" class="border">1985</h2>
                    <div class="y1985">
                        <img src="assets/villanova.gif" alt="Villanova Wildcats" class="champs" align="right" width="150" height="142" />
                        <h3>BBJ Champion</h3>
                        <p>B.B. Balls</p>
                        <h3>NCAA Championship</h3>
                        <p>Villanova Wildcats def. Georgetown Hoyas</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1985?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1985 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1984" class="border">1984</h2>
                    <div class="y1984">
                        <img src="assets/georgetown.gif" alt="Georgetown Hoyas" class="champs" align="right" width="137" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>S. Zare</p>
                        <h3>NCAA Championship</h3>
                        <p>Georgetown Hoyas def. Houston Cougars</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1984?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1984 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1983" class="border">1983</h2>
                    <div class="y1983">
                        <img src="assets/ncstate.gif" alt="North Carolina State Wolfpack" class="champs" align="right" width="123" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>(unnamed)</p>
                        <h3>NCAA Championship</h3>
                        <p>North Carolina State Wolfpack def. Houston Cougars</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1983?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1983 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1982" class="border">1982</h2>
                    <div class="y1982">
                        <img src="assets/unc82.gif" alt="North Carolina Tar Heels" class="champs" align="right" width="150" height="132" />
                        <h3>BBJ Champion</h3>
                        <p>The Blue</p>
                        <h3>NCAA Championship</h3>
                        <p>North Carolina Tar Heels def. Georgetown Hoyas</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1982?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1982 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1981" class="border">1981</h2>
                    <div class="y1981">
                        <img src="assets/iu.gif" alt="Indiana Hoosiers" class="champs" align="right" width="120" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>K d. Moir</p>
                        <h3>NCAA Championship</h3>
                        <p>Indiana Hoosiers def. North Carolina Tar Heels</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1981?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1981 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1980" class="border">1980</h2>
                    <div class="y1980">
                        <img src="assets/louisville.gif" alt="Louisville Cardinals" class="champs" align="right" width="143" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>J. Warren</p>
                        <h3>NCAA Championship</h3>
                        <p>Lousiville Cardinals def. UCLA Bruins</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1980?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1980 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1979" class="border">1979</h2>
                    <div class="y1979">
                        <img src="assets/msu79.gif" alt="Michigan State Spartans" class="champs" align="right" width="136" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>Twiggy</p>
                        <h3>NCAA Championship</h3>
                        <p>Michigan State Spartans def. Indiana State Sycamores</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1979?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1979 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1978" class="border">1978</h2>
                    <div class="y1978">
                        <img src="assets/uk78.gif" alt="Kentucky Wildcats" class="champs" align="right" width="150" height="76" />
                        <h3>BBJ Champion</h3>
                        <p>Basket Ball Jones</p>
                        <h3>NCAA Championship</h3>
                        <p>Kentucky Wildcats def. Duke Blue Devils</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1978?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1978 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1977" class="border">1977</h2>
                    <div class="y1977">
                        <img src="assets/marquette.gif" alt="Marquette Warriors" class="champs" align="right" width="150" height="140" />
                        <h3>BBJ Champion</h3>
                        <p>Vine</p>
                        <h3>NCAA Championship</h3>
                        <p>Marquette Warriors def. North Carolina Tar Heels</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1977?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1977 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1976" class="border">1976</h2>
                    <div class="y1976">
                        <img src="assets/iu.gif" alt="Indiana Hoosiers" class="champs" align="right" width="120" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>K d. Moir</p>
                        <h3>NCAA Championship</h3>
                        <p>Indiana Hoosiers def. Michigan Wolverines</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1976?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1976 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1975" class="border">1975</h2>
                    <div class="y1975">
                        <img src="assets/ucla.gif" alt="UCLA Bruins" class="champs" align="right" width="150" height="116" />
                        <h3>BBJ Champion</h3>
                        <p>Randall</p>
                        <h3>NCAA Championship</h3>
                        <p>UCLA Bruins def. Kentucky Wildcats</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1975?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1975 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1974" class="border">1974</h2>
                    <div class="y1974">
                        <img src="assets/ncstate.gif" alt="North Carolina State Wolfpack" class="champs" align="right" width="123" height="160" />
                        <h3>BBJ Champion</h3>
                        <p>Basket Ball Jones</p>
                        <h3>NCAA Championship</h3>
                        <p>North Carolina State Wolfpack def. Marquette Warriors</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1974?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1974 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1973" class="border">1973</h2>
                    <div class="y1973">
                        <img src="assets/ucla.gif" alt="UCLA Bruins" class="champs" align="right" width="150" height="116" />
                        <h3>BBJ Champion</h3>
                        <p>Barker</p>
                        <h3>NCAA Championship</h3>
                        <p>UCLA Bruins def. Memphis Tigers</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1973?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1973 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1972" class="border">1972</h2>
                    <div class="y1972">
                        <img src="assets/ucla71.gif" alt="UCLA Bruins" class="champs" align="right" width="150" height="152" />
                        <h3>BBJ Champion</h3>
                        <p>Basket Ball Jones</p>
                        <h3>NCAA Championship</h3>
                        <p>UCLA Bruins def. Florida State Gators</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1972?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1972 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>
                    
                    <h2 id="y1971" class="border">1971</h2>
                    <div class="y1971">
                        <img src="assets/ucla71.gif" alt="UCLA Bruins" class="champs" align="right" width="150" height="152" />
                        <h3>BBJ Champion</h3>
                        <p>Ragsdale</p>
                        <h3>NCAA Championship</h3>
                        <p>UCLA Bruins def. Villanova Wildcats* (later disqualified)</p>
                        <ul>
                        	<li><a href="http://www.cbssports.com/collegebasketball/mayhem/history/yearbyyear/1971?tag=untagged">NCAA Tournament Results</a></li>
                        </ul>
                    </div><!-- end #y1971 -->
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

