<object type="application/x-shockwave-flash" width="165" height="165" class="video" data="http://www.youtube.com/v/hdsCEFA1Ln0&hl=en_US&fs=1&"><param name="movie" value="http://www.youtube.com/v/hdsCEFA1Ln0&hl=en_US&fs=1&" /></object>
<iframe width="165" height="165" src="http://www.youtube.com/embed/UvOjLyFU1w4" frameborder="0"></iframe>
<img src="assets/finalfour2013.gif" alt="NCAA Final Four 2013" class="left" align="center" width="150" height="135" />
<p></p>
<p>Welcome, prognosticators! You are here to get more information about the upcoming Basket Ball Jones NCAA Pick-off or because you just want to admire the 42-year history of the legendary sport of the sport. March Madness is the greatest time of the year, and there is no better way to celebrate than through the BBJ. So check it out. You can enter by navigating yourself to the <a href="http://www.mysideline.com/u/19444/collegebbmens/">2013 Pick-off Site</a> and registering for the pickoff. All the information you need is on the 2013 Rules &amp; Info page. Good luck and happy hoops! &mdash; Basket Ball Jones Jr.</p>
