<% provide(:title, '2013 Rules and Information') %>
                    <h1>2013 Rules and Information</h1>
                    <p>All of the information that you need for the 2013 BBJ NCAA Pick-off can be found on this page. Be advised that while this is the BBJ website, there is another web address which houses the data, picks, updates, and whatnot. That web address is at the bottom of the navigation to the left and can be accessed here: <a href="http://www.mysideline.com/u/19444/collegebbmens/">2013 Pick-off Site</a>.
                    <h2 class="border">Opening Remarks</h2>
                    <p>Greetings and salutations to my fellow prognosticators! The time for our favorite time of the year is approaching, and with that also comes our annual sport of the sport. This year marks the 43rd year of the world-famous Basket Ball Jones NCAA Pick-off. I am your host, Basket Ball Jones Jr., here to once again collect your money and laugh at your picks. A special thank-you goes out to Core Player T. Vetang for stepping in to handle collection duties for the 2012 pick-off.</p>
                    <p>Oh so glorious will this tournament be, as it may see the Indiana Hoosiers in a #1 seed. It has been far too long. K d. Moir is not here to pick his Hoosiers to go all the way as he's done very single year (pre-Horseface Davis), but MrIU will along with probably many other players because they are a favorite to win. Hoosiers playing in March Madness is a tradition, just like me laughing at your picks. Their last season was overwhelming, but this year they have high expectations. Can they seal the deal and bring home banner six?</p>
                    <p>Last year was a great pick-off. Congratulations again to rookie indydice9 winning the pick-off and to Prominent Player Cheater taking 2nd place. Joyknowsbest once again took home some dough. It will be interesting to see how she does this year. The NCAA COMMITTEE finished 23rd even with their #1 pick going all the way. It's no fun finishing below those boneheads It leaves a bad taste in your mouth for a whole year...</p>
                    <p>2012 was a bracket-busting year for most of us that didn't pick the NCAA Cheater's NBA development college to win it all. 12 players picked the champ correctly last year, but most of them finished in the bottom half of the standings. People who picked the underdogs scored enough points to push them up in the boards despite picking a team of players who go to class. There weren't many surprising runs late in last year's tourney. The most surprising was Louisville, but as a #4 seed we still had a guy pick them to the Final Four (indydice9). The surprises last year were in the first round with the Dukies, Wolverines, and senior-led team of Tigers choking on themselves and breaking a few brackets. Anything can happen in those first two rounds!</p>
                    <p>It was great to see the top ten full of BBJ vets last year. Florida Girl, Pottratz, I LUV IU BB, T. Vetang. All been around for a while in the BBJ. BBJ Prominent Players and Core Players are a good measuring stick to see how newbies compare. </p>
                    <p>Remember that the NCAA's latest money ploy &#147;First Four&#147; does not change the deadline for the picks. They are still due as they have always been&mdash;before the first tip-off of Thursday's opening game. Be sure you enter your picks on time!</p>
                     <p>Here's to what feels like it will be another incredible tourney. I'll look for you in the standings&mdash;below me!</p>
                    <p>Yours in Hoops,<br />
                    Basket Ball Jones Jr.</p>
                    
                    <h2 class="border">Rules</h2>
                    <p>I, Basket Ball Jones Jr, am your Gamesmaster and will handle all administrative duties for the 2013 pick-off. Please direct all inquires to the following email address: <a href="mailto:bballjonesjr@gmail.com">bballjonesjr@gmail.com</a>.
                    <h3>Entry</h3>
                    <p>Obviously, entries need to be received by the first tip-off, not including the play-in game(s). This is usually noon on Thursday. The entry fee is still $10 and should be received prior to or with submission of the entry. If you don't want to pay $10 then whine about it and mooch from a friend.</p>
                    <p>You may enter as many times as you want. The reason for this is threefold. First, it is hard to decide between teams and scenarios. Second, I have no way of knowing if someone enters more than once anyway (unless you use the same name), so why make a rule against it? Third, we are greedy and want to win other players' money twice. So we have the Chicago voter's rule: enter early and often.</p>
                    <p>The most popular way of submitting picks nowadays are online. If you do this, by default your picks will be displayed. If you want your picks to be private until after the start of the tournament then the best option is to request it and send it by email.</p>
                    <div class="halfL">
                        <h3 align="center">Entry brackets</h3>
                        <p>Entry brackets can be submitted in the following ways:
                            <ul>
                                <li>Online through software at this URL: <a href="http://www.mysideline.com/u/19444/collegebbmens/tournamententry.htm">2013 PICKS ENTRY</a>. NOTE: Your submission will not show up until I have downloaded it from the server.</li>
                                <li>Handed in to an admin</li>
                                <li>Scanned into a PDF and emailed to me at <a href="mailto:bballjonesjr@gmail.com">bballjonesjr@gmail.com</a></li>
                                <li>Taken by phone at 424.256.6748</li>
                                <li>Postal mail if postmarked by the deadline to the mailing address below</li>
                            </ul>
                        </p>
                    </div><!-- end .halfL -->
                    <div class="halfR">
                        <h3 align="center">Entry fees</h3>
                        <p>Entry fees can be submitted in the following ways listed in order of preference:
                            <ul>
                                <li>By PayPal to <a href="mailto:creamandcrimson2@gmail.com">creamandcrimson2@gmail.com</a>. If you choose this option then you must send it entirely with a PayPal balance or by bank account (no credit cards), and you must send it as "Personal" and NOT "Purchase."</li>
                                <li>Handed in to an admin</li>
                                <li>Postal mail to the mailing address below</li>
                            </ul>
                        </p>
                    </div><!-- end .halfR -->
                    <p class="clearboth">If mailing, please do so by check made out to the collector. The treasurer for this year is A.J. Moir, and the address to send checks is below:</p>
                    <p align="center">A.J. Moir<br />2036 N Walnut St Apt D25<br />Bloomington, IN 47404<br /><br /><a href="creamandcrimson2@gmail.com">creamandcrimson2@gmail.com</a></p>
                   
                    <h3>Scoring</h3>
                       <p>We could keep it simple, but NOT! We will again use underdog scoring.  We will do standard scoring for rounds with underdog points added in the mix  (add the difference of the two seeds if you pick an underdog to win). As shown with last year's standings, this keeps it tight and competitive without too much weight being given to neither early nor late picks. See below for examples.</p>

                    <p>Standard Scoring:
                       <ul>
                          <li>Round 1: 1 point</li>
                          <li>Round 2: 2 points</li>
                          <li>Sweet 16: 3 points</li>
                          <li>Elite Eight: 4 points</li>
                          <li>Final Four: 5 points</li>
                          <li>Championship: 6 points</li>
                       </ul>
                    </p>
                    <p>Underdog Scoring:<br /><br />To get points for Underdog Scoring a player must correctly pick a team to win a certain game as an underdog, AND that team must win the game as an underdog (regardless of who they play). Points are then awarded based on seed difference.  Example: Jerry picks Alabama (#15 seed) over Kentucky (#7 seed) in a 2nd Round game. Jerry would be awarded points based on the difference in the seed numbers between the teams he actually picked (not the teams that played). So if Alabama beats Kentucky (#7 seed) Jerry would get 8 points (#15 seed - #7 seed = 8 points). If Alabama instead beats Arizona (#10 seed) Jerry would still get 8 points as it is the difference between the seed numbers of the teams Jerry picked to play.</p>
                     <p>Another example: Round 1: #5 Wisconsin vs #12 SW Missouri St. -- John Doe picks SW Missouri.  SW Missouri wins, John Doe would get points for underdog bonus.<br /><br />Round 1: #4 Tennessee vs #13 Delaware -- John Doe picks Delaware.  Tennessee wins, John Doe gets no points.<br /><br />Round 2: Matchup is #12 SW Missouri St. vs #4 Tennessee.  John Doe picked #12 SW Missouri St over #13 Delaware.  John Doe is taking no underdog risk in this game; he is picking a higher seeded team on his sheet.  Therefore, even if SW Missouri St. beats Tennessee, John Doe will get no underdog bonus points.</p>
                    <p>This scoring will keep the scores close and weight gutsy picks.  Individuals who pick unlikely teams late in the tournament will get extra points to reward their risk.</p>
                    
                    <h3>Tie-breaker</h3>
                    <p>The tie-breaker will be total points in the final game. If there is a tie at the end of the pick-off for any position, the winner of the tie-breaker is determined by having a predicted total points in the final game closer to the actual total score. Note: It is NOT "The Price is Right"-style, meaning the player does not bust if (s)he goes over. The second tie-breaker will be correct pick percentage. Don't forget the tie-breaker! You could get screwed by it, and believe me, it has happened before--just ask Maxfield!</p>
                    
                    <h3>Payout</h3>
                    <p>Win, Place, and Show. 1st prize this year is 70%, 2nd prize is 20%, and 3rd prize is 10%. More players means a bigger pot so tell a sucker, err&hellip; friend.</p>
                    
                    <h3>Other</h3>
                    <p>An Enron accountant will audit the books and a Chicago politician will arbitrate all disputes. But that does not matter because all decisions by the administrator, Basket Ball Jones Jr., will be final (hehehe).</p>
                    <p>See you in the standings below me!</p>
                    <p>Yours truly,<br />
                    BBJ Jr.
                    </p>
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

