<% provide(:title, 'Prominent Players') %>
                    <h1>Prominent Players</h1>
                    <p>Through the years since our 1971 inception, The BBJ has enjoyed players from all over. Some play one or two years and are gone, others skip years but always return, and still some never miss.  While we have always noted the regulars, beginning in the year 2000 we began logging the entries.</p>
                    <p>So, what is a BBJ PP? It is any player that has entered <strong>four</strong> or more Pickoffs.  Why four Pickoffs to earn that title? Simple--four years playing is more than three years and less than five (hehehe). Many players hang for two or three years, but those that play for at least four tend to play forever, even when they miss a year for whatever reason.</p>
                    <p>Any player with <strong>eight</strong> or more BBJs played has earned <strong>Core Player Status</strong>. Note: many players play more than one entry, but only one name may be shown below.</p>
                    
                    <h2 id="core" class="border">Core Players</h2>
                    <ul>
                    	<li>ACC Blows</li>
                    	<li>A.J. Moir (since '96)</li>
                        <li>B.B. Balls</li>
                        <li>Basket Ball Jones ('71 - '08)</li>
                   	<li>Basket Ball Jones Jr. (since '04)</li>
                        <li>BUCKETHEAD</li>
                    	<li>Eli Loewenthal (since '04)</li>
                        <li>Harbo (since .92)</li>
                        <li>Havens</li>
                        <li>Jason Fried (since '05)</li>
                        <li>Jeff Jacobs (since .90)</li>
                        <li>Joe Wesling</li>
                        <li>Joshua Jacobs</li>
                        <li>Kevin Jacobs</li>
                        <li>K d. Moir (missed a couple of years when his Hoosiers were out)</li>
                        <li>Mike Maxfield</li>
                        <li>MrIU</li>
                        <li>NCAA Committee (always)</li>
                        <li>R. Keller</li>
                        <li>RMK</li>
                        <li>The Monkey (always)</li>
                        <li>Tim Vetang (first played in .77)</li>
                        <li>Westwood W.</li>
                        <li>Who Knows</li>
                        <li>Zook</li>
                     </ul>
                     <p>* About 11 other past Core Players are archived in the Obituaries (43 years is a long time). 12 are on the Champions page.</p>
                     
                    <h3>Will become Core Players in 2013:</h3>
                    <ul>
                        <li>Josh Ryan (since '05)</li>
                        <li>Michael Kloda (since '06)</li>
                        <li>Pottratz (since '05)</li>
                        <li>Richard Gochnauer (since '05)</li>
                        <li>T.J. Zancanaro (since '05)</li>
                    </ul>
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

                    <h2 id="prominent" class="border">Prominent Players</h2>
                    <ul>
                        <li>Bill Monday (since '07)</li>
                        <li>Brad Meyer (since '08)</li>
                        <li>Collin Maxfield (since '07)</li>
                        <li>Dave Harbeck (since '09)</li>
                        <li>Eric Johnson (since '07)</li>
                    	<li>Erik Vetang</li>
                        <li>John Cochrum (since '08)</li>
                        <li>Josh Ryan (since '05)</li>
                    	<li>Joy Doup</li>
                    	<li>Keith White</li>
                        <li>Keith Harbeson (since '09)</li>
                        <li>Michael Kloda (since '06)</li>
                        <li>Pottratz (since '05)</li>
                        <li>Richard Gochnauer (since '05)</li>
                        <li>Sam Combest (since '07)</li>
                        <li>Scott Maxfield (since '07)</li>
                        <li>T.J. Zancanaro (since '05)</li>
                        <li>Tom Baumeister (since '07)</li>
                    </ul>
                    <h3>On deck for their PP badge in 2013:</h3>
                    <ul>
                        <li>Aaron Lavender</li>
                        <li>Alex Farris</li>
                        <li>Cody Sparks</li>
                        <li>Garrett Smith</li>
                        <li>Jeff Davidson</li>
                        <li>Joey Wesling</li>
                        <li>Johnny B.</li>
                        <li>Lee Hurwitz</li>
                        <li>Myles Brand</li>

                    </ul>
                    <p>If you belong on this list then please send me a message. I do not have complete records.</p>
                    <p class="backtotop"><a href="#wrapper">back to top ^</a></p>

