                </div><!-- end #content -->
                <div id="footer">
                    <div id="copyright">
                        <p>&copy; Copyright 2013 Basket Ball Jones. All rights reserved.<br />Website design by <a href="mailto:bballjonesjr@gmail.com">Basket Ball Jones Jr.</a></p>
                    </div><!-- end #copyright -->
                </div><!-- end #footer -->
            </div><!-- end .container -->
        </div><!-- end #wrapper -->
